In [1]:
import os 
import pandas as pd

#### Reading the data

In [17]:
data_path = './data-engineering-task-files/dataset.csv'
metadata_path ='./data-engineering-task-files/metadata.csv'
data_df = pd.read_csv(data_path, names=['Name', 'Reading Date', 'Value'])
metadata_df = pd.read_csv(metadata_path)

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

####  data example

In [58]:
data_df.head()

,Site_name,plc_name,Sub System Name,Reading type,Reading Attribute,Reading Date,Value
0,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:00.954 AM,6690
1,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:04.098 AM,6700
2,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:07.219 AM,6690
3,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:15.576 AM,6670
4,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:16.605 AM,6680

###  Task1 - Splitting name column to new_cols

In [18]:
new_cols = ['Site_name', 'PLC name', 'Sub System Name', 'Reading type', 'Reading Attribute']

In [19]:
name_col_splitted_to_new_cols_df = data_df['Name'].str.split('.', expand=True)
name_col_splitted_to_new_cols_df.drop(5, inplace=True, axis=1)

In [20]:
data_df[new_cols] = name_col_splitted_to_new_cols_df

###### Organizing the dataframe and dropping name column after extracting neccesary data

In [21]:
data_df.drop('Name', axis=1, inplace=True)
data_df = data_df.loc[:, ['Site_name', 'PLC name', 'Sub System Name', 'Reading type', 'Reading Attribute', 'Reading Date', 'Value']]

In [55]:
data_df.head()

,Site_name,plc_name,Sub System Name,Reading type,Reading Attribute,Reading Date,Value
0,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:00.954 AM,6690
1,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:04.098 AM,6700
2,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:07.219 AM,6690
3,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:15.576 AM,6670
4,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:16.605 AM,6680

### Task2 - adding metadata to the data_df

####  metadata example

In [57]:
metadata_df.head()

,machine_type,machine_vendor,machine_serial_number,machine_production_date
0,excavator,Bosch,erDcTdYZDhD4B8,07-Apr-2002 12:00:00.000 AM
1,wheel trencher,Thyssenkrupp,JGfe94HRvv2ET6,01-Apr-2001 12:00:00.000 AM
2,generator,Schindler,Hrjh9JqdPEthME,23-Apr-2005 12:00:00.000 AM
3,front loader,CAT,KSsii3goEEXtdA,28-Apr-2005 12:00:00.000 AM
4,scraper,Schindler,w65SzFksi39Lv9,23-Apr-2005 12:00:00.000 AM

In [37]:
plc_to_machine_type = {'PLC303': 'excavator', 
                       'PLC0120': 'wheel trencher',
                       'PLC0240': 'generator',
                       'PLC970': 'front loader', 
                        'PLC030': 'scraper'}

In [44]:
plc_to_machine_type_df = pd.DataFrame(list(plc_to_machine_type.items()), columns=['plc_name', 'machine_type'])

In [46]:
metadata_with_plc_name_df = pd.merge(metadata_df, plc_to_machine_type_df, on='machine_type')

In [52]:
data_df.rename(columns={'PLC name': 'plc_name'}, inplace=True)

In [53]:
main_df = pd.merge(data_df, metadata_with_plc_name_df, on='plc_name')

In [56]:
main_df.head()

,Site_name,plc_name,Sub System Name,Reading type,Reading Attribute,Reading Date,Value,machine_type,machine_vendor,machine_serial_number,machine_production_date
0,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:00.954 AM,6690,wheel trencher,Thyssenkrupp,JGfe94HRvv2ET6,01-Apr-2001 12:00:00.000 AM
1,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:04.098 AM,6700,wheel trencher,Thyssenkrupp,JGfe94HRvv2ET6,01-Apr-2001 12:00:00.000 AM
2,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:07.219 AM,6690,wheel trencher,Thyssenkrupp,JGfe94HRvv2ET6,01-Apr-2001 12:00:00.000 AM
3,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:15.576 AM,6670,wheel trencher,Thyssenkrupp,JGfe94HRvv2ET6,01-Apr-2001 12:00:00.000 AM
4,Huston,PLC0120,TX640,D1,VT008,07-Apr-2017 12:00:16.605 AM,6680,wheel trencher,Thyssenkrupp,JGfe94HRvv2ET6,01-Apr-2001 12:00:00.000 AM